#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_SIXAXIS_2
	bool "electric_guitar"
	default y
	---help---
		Enable the 6 axis sensor example

if EXAMPLES_SIXAXIS_2

config EXAMPLES_SIXAXIS_PROGNAME_2
	string "Program name"
	default "electric_guitar"
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config EXAMPLES_SIXAXIS_PRIORITY_2
	int "electric_guitar task priority"
	default 100

config EXAMPLES_SIXAXIS_STACKSIZE_2
	int "electric_guitar stack size"
	default DEFAULT_TASK_STACKSIZE

endif
